{% extends 'base.html' %}
{% block htmlhead %}
    <link rel="stylesheet" href="/static/editor/css/editormd.min.css">
    <link rel="stylesheet" href="/static/editor/css/">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/editor/editormd.min.js"></script>
    <script src="/static/js/markdown.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd({
                id: "editormd",
                path: "/static/editor/lib/",
                height: 300,
                codeFold: true,
                saveHTMLToTextarea: true,
                searchReplace: true,
                emoji: true,
                taskList: true,
                tocm: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true
            });
             $('.md-fa').each(function () {
                 console.log($(this).text());
                 var res = markdown.toHTML($(this).text());
                 $(this).html(res);
             })
             });
    </script>
{% endblock %}
{% block content %}
    <main class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h1 class="cart-title">{{ article.title }}</h1>
                </div>
                <p class="card-text"><b>Author:</b>{{ article.author }}</p>
                <p class="card-text"><b>Email:</b>{{ article.email }}</p>
                <p class="card-text"><b>Keyword:</b>{{ article.keyword }}</p>
                <p class="card-text"><b>Date:</b>{{ article.date }}</p>
                <p class="card-text"><b>Highlight:</b>{{ article.highlight }}</p>
                <a href="/download/{{ article.pdf }}" class="card-link">Download</a>
            </div>
        </div>
        <hr>
        <div class="container">
            <h2>Comments:</h2>
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <div class="card ">
                            <div class="card-title card-header font-weight-bold">{{ comment.email }}</div>
                            <div class="card-body card-text">
                                <div class="md-fa">{{ comment.content }}</div>
                            </div>
                            <div class="card-footer text-muted text-sm-right">{{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <div class="container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class='form-control') }}
                </div>
                <div id="editormd" class="form-group">{{ form.comment }}</div>
                <div class="form-group">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </main>
{% endblock %}