{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <main class="container">
            <ul class="list-group">
                {% for a in list %}
                    <li class="container card">
                        <div class="card-body">
                            <a href="detail/{{ a.id }}"><h1 class="card-title text-center font-weight-bold">{{ a.title }}</h1></a>
                            <dl class="card-text">
                                <dt>Author:</dt>
                                <dd>{{ a.author }}</dd>
                                <dt>Date:</dt>
                                <dd>{{ a.date.strftime('%Y-%m-%d %H:%M:%S') }}</dd>
                                <dt>Highlight:</dt>
                                <dd>
                                    <p class="blockquote">{{ a.highlight }}</p>
                                </dd>
                            </dl>
                            <a href="/download/{{ a.pdf }}" class="card-link">Download</a></div>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>
{% endblock %}